@media (max-width: 900px) {
  .solution__top {
    padding: 70px 0 20px;
  }
  .solution__wrapper {
    flex-direction: column;
    gap: 50px;
  }
  .solution__content {
    max-width: 500px;
  }
  .solution__img {
    max-width: 500px;
    width: 100%;
  }
}
