@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.woff?z37q4i") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook-1:before {
  content: "\e900";
}
.icon-google:before {
  content: "\e901";
}
.icon-linkedin-1:before {
  content: "\e902";
}
.icon-twitter:before {
  content: "\e903";
}
.icon-1:before {
  content: "\e904";
  color: #f25822;
}
.icon-2:before {
  content: "\e905";
  color: #149211;
}
.icon-3:before {
  content: "\e906";
  color: #ffc700;
}
.icon-11:before {
  content: "\e907";
  color: #f25822;
}
.icon-12:before {
  content: "\e908";
  color: #f25822;
}
.icon-21:before {
  content: "\e909";
  color: #149211;
}
.icon-31:before {
  content: "\e90a";
  color: #ffc700;
}
